body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container{
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    width: 60%;

}
.registration{
    font-family: algerian;
    text-align: center;
    border-bottom: 3px solid red;
}
form .container2{
    display: flex;
    flex-wrap: wrap;
}
form .container2 .inputbox{
    width: calc(100%/2-20px);
    margin: 10px;
}
form .container2 .inputbox input{
 height: 45px;
 width: 100%;
}
.lastinput{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: brown;
    color: white;
    border: none;
    height: 1cm;
    
}